body {
  font-family: sans-serif;
  text-align: center;
}

.game-container {
	display: flex;
	justify-content: center; /* Centers horizontally */
  align-items: center;   /* Centers vertically */
  height: 100vh;
}

.silhouetted {
  /*filter: brightness(0) invert(1); */ /* Makes the image a white silhouette */
  filter: blur(5px); /*tried, but no effects lah, cause already hard enough to recognize when just the picture! */
}

#pokemon-image {
  width: 300px;
  height: 300px;
}
